#if (! $util.isNull($ctx.source.flagStatus))
  #return ($ctx.source.flagStatus)
#end

#set ($callerUserId = $ctx.identity.cognitoIdentityId)
#set ($targetChatId = $ctx.source.chatId)

{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "partitionKey": { "S": "chat/$targetChatId" },
    "sortKey": { "S": "flag/$callerUserId" }
  }
}
