{
    "version": "2018-05-29",
    "operation": "Invoke",
    "payload": {
      "field": "Post.image",
      "identity": $util.toJson($ctx.identity),
      "arguments": $util.toJson($ctx.args),
      "source": $util.toJson($ctx.source)
    }
}
