#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#if ($util.isNull($ctx.result))
  #set ($status = 'NOT_BLOCKING')
#else
  #set ($status = 'BLOCKING')
#end

$util.toJson($status)
