#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

## raises an error if error self does not exist
#if ($ctx.prev.result.isEmpty())
  $util.error('ClientError: User does not exist', 'ClientError')
#end
#set ($user = $ctx.prev.result[0])

$util.qr($user.put('blockedStatus', 'SELF'))
$util.qr($user.put('blockerStatus', 'SELF'))
$util.qr($user.put('followedStatus', 'SELF'))
$util.qr($user.put('followerStatus', 'SELF'))

$util.toJson($user)
